body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url(https://www.wallpaperuse.com/wallp/1-11470_m.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

